.sailorListContainer {
    width: 60%;
    min-width: 8rem;
    margin: 0 auto;

    .sailorCard {
        display: flex;
        justify-content: space-between;
        padding: calc(0.2rem + 0.2vw) 0;

        .deleteSailor {
            height: calc(2rem + 2vw);
            width: calc(2rem + 2vw);
            line-height: calc(2rem + 2vw);
            margin: 0 calc(0.5rem + 0.5vw);
            color: #e7e7d0;
            text-align: center;
            background: #000510;
            border-radius: 0.2rem;
        }

        .deleteSailor:hover {
            cursor: pointer;
        }

        .deleteSailor:active {
            opacity: 0.3;
        }

        .sailorDetails {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            flex-grow: 1;
            background: #e7e7d0;
            font-size: calc(0.7rem + 0.5vw);
            padding: 0 calc(0.5rem + 0.5vw);
            min-width: calc(5rem + 10vw);
            border-radius: 0.2rem;
        }
    }
}